.btn {
  background-color: red;
  border: 1px solid red;
  border-radius: 4px;
  padding: 0.5em 1.3em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease;
}

.btn:hover {
  background-color: #e20000;
  border: 1px solid #e20000;
}
